<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cooling.artifact">

    <!--以下为必要权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />

    <!--以下为可选权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!--移除第三方SDK中的此权限-->
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        tools:node="remove" />
    <!--穿山甲3400版本新增：穿山甲将通过此权限在Android R系统上判定广告对应的应用是否在用户的app上安装，
    避免投放错误的广告，以此提高用户的广告体验。若添加此权限，需要在您的用户隐私文档中声明！-->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <!--如果视频广告使用textureView播放，请务必添加，否则黑屏-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--快手的SDK内⾃定义的权限，与下载相关，aar中已经申请-->
    <permission
        android:name="${applicationId}.permission.KW_SDK_BROADCAST"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.KW_SDK_BROADCAST" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cleaner13">
        <activity
            android:name=".splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".home.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".me.FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".me.AboutUsActivity"
            android:screenOrientation="portrait" />

        <!--降温-->
        <activity
            android:name=".cooldown.CoolDownScanningActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cooldown.CoolDownAnimActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cooldown.CoolDownCompleteActivity"
            android:screenOrientation="portrait" />

        <!--清理-->
        <activity
            android:name=".clean.CleanAnimActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clean.CleanCompleteActivity"
            android:screenOrientation="portrait" />

        <!--省电-->
        <activity
            android:name=".powersaving.PowerSavingScanningActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".powersaving.PowerSavingAnimActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".powersaving.PowerSavingCompleteActivity"
            android:screenOrientation="portrait" />

        <!--卸载应用-->
        <activity
            android:name=".removeapp.RemoveAppScanningActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".removeapp.RemoveAppCompleteActivity"
            android:screenOrientation="portrait" />

        <!--清除缓存-->
        <activity
            android:name=".clearcache.ClearCacheAnimActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clearcache.ClearCacheCompleteActivity"
            android:screenOrientation="portrait" />

        <!--穿山甲-->
        <provider
            android:name="com.bytedance.sdk.openadsdk.TTFileProvider"
            android:authorities="${applicationId}.TTFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/csj_file_paths" />
        </provider>

        <provider
            android:name="com.bytedance.sdk.openadsdk.multipro.TTMultiProvider"
            android:authorities="${applicationId}.TTMultiProvider" />
        <!--穿山甲 end-->

        <!--广点通-->
        <service
            android:name="com.qq.e.comm.DownloadService"
            android:exported="false" />

        <activity
            android:name="com.qq.e.ads.ADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

        <provider
            android:name="com.qq.e.comm.GDTFileProvider"
            android:authorities="${applicationId}.gdt.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/gdt_file_path" />
        </provider>
        <!--广点通 end-->


        <!-- 配置渠道-->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${CHANNEL_VALUE}" />
        <!--公共服务的URL-->
        <meta-data
            android:name="THEONTHE_BASE_URL"
            android:value="${THEONTHE_BASE_URL}" />
        <!--产品id-->
        <meta-data
            android:name="THEOTHE_PRODUCT_ID"
            android:value="${THEOTHE_PRODUCT_ID}" />
        <!--马甲id-->
        <meta-data
            android:name="THEOTHE_VEST_ID"
            android:value="${THEOTHE_VEST_ID}" />
        <!--公钥-->
        <meta-data
            android:name="THEOTHE_PLATFROM_PUBLICKEY"
            android:value="${THEOTHE_PLATFROM_PUBLICKEY}" />
        <!--app盐-->
        <meta-data
            android:name="THEOTHE_APP_SECRETSALT"
            android:value="${THEOTHE_APP_SECRETSALT}" />


        <!--今日头条屏幕适配-->
        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />

    </application>

</manifest>